div {
  width: 200px;
  height: 50px;
  overflow: visible;
  border: 3px solid #444;
  margin: 20px;
  text-align: justify;
  font-size: 22px;
}
.hidden {
  width: 200px;
  height: 100px;
  overflow: hidden;
  border: 3px solid #444;
  margin: 20px;
  text-align: justify;
}
.scroll {
  width: 200px;
  height: 100px;
  overflow: scroll;
  border: 3px solid #444;
  margin: 20px;
  text-align: justify;
}
.auto {
  width: 200px;
  height: 100px;
  overflow: auto;
  border: 3px solid #444;
  margin: 20px;
  text-align: justify;

}
.over1 {
  width: 200px;
  height: 100px;
  overflow-x: visible;
  overflow-y: hidden;
  border: 3px solid #444;
  margin: 20px;
  text-align: justify;
}
.over2 {
  width: 200px;
  height: 100px;

  overflow-y: visible;
  border: 3px solid #444;
  margin: 20px;
  text-align: justify;
}
