* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  color: blueviolet;
}
h2 {
  color: rgb(60, 51, 40);
}
p {
  color: #017899;
}
#color {
  color: #900;
}
h3 {
  color: hsl(120, 70%, 50%);
}
h4 {
  color: rgba(120, 204, 178, 70%);
}
h5 {
  color: #01789967;
}
h6 {
  color: hsla(79, 50%, 60%, 78%);
}
