.box {
  margin-top: 20px;
  height: 200px;
  max-width: 200px;
  margin-left: auto;
  background-color: blueviolet;
}
.box1 {
  margin-top: 20px;
  height: 200px;
  max-width: 200px;
  margin-right: auto;
  /* by default property */
  background-color: cyan;
}
.box2 {
  margin-top: 20px;
  height: 200px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  /* by default property */
  background-color: red;
}
.container {
  padding: 50px;
  background-color: indigo;
}
.container::after {
  content: "";
  display: table;
  clear: both;
}
.item {
  width: 50%;
  float: left;
}
.item-one {
  background-color: darkcyan;
}
.item-two {
  background-color: darkorchid;
}
.item-three {
  background-color: gold;
}
.item-four {
  background-color: crimson;
}

